extends layout

block content
  h1=title
  form(method='get', action='/search' target="_self")
    fieldset
      label(for='querystr') Query:
      input(id='querystr' name="querystr" type='search')
      input(type='submit' autocomplete='on' formaction='/search' value='Search')
